@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --nunito: "Nunito Sans", sans-serif;
  --poppins: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  /* height: 100svh; */
  height: 100vh;
  font-family: var(--nunito);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
body {
  scrollbar-width: auto;
  scrollbar-color: #ababab #ffffff;
}

/* Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #ababab;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
#root {
  height: 100%;
  width: 100%;
}
.light-body {
  background-color: hsl(0, 0%, 95%);
  color: hsl(200, 15%, 8%);
}
.light {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
.dark-body {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}
.dark {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.header {
  width: auto;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* -webkit-box-shadow: 1px -2px 7px 2px rgba(168, 168, 168, 0.75);
  -moz-box-shadow: 1px -2px 7px 2px rgba(168, 168, 168, 0.75);
  box-shadow: 1px -2px 7px 2px rgba(168, 168, 168, 0.75); */
}
.header label {
  margin: 0 50px;
}
.header label:first-child {
  font-size: 25px;
  font-weight: 600;
}
.header label:last-child {
  font-size: 18px;
}
.body {
  width: auto;
  height: max-content;
  margin: 0 50px;
}
.body-child {
  position: sticky;
  top: 0;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.body-child label:first-child {
  position: relative;
  width: 30rem;
  height: 100%;
}
.body-child label:nth-child(2) {
  width: max-content;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.body-child label i:not(.fa-angle-down, .fa-angle-up) {
  position: absolute;
  top: 15px;
  left: 25px;
  font-size: 20px;
  opacity: 0.8;
}
.body-child label input {
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding-right: 25px;
  padding-left: 70px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.filter-list-hide {
  position: absolute;
  height: 0;
  z-index: -2;
  opacity: 0;
}
.filter-list {
  position: absolute;
  width: 136px;
  height: 150px;
  opacity: 1;
  right: 0;
  font-size: 14px;
  padding: 15px 25px;
  border-radius: 5px;
  top: 105px;
  transition: height 0.7s ease-in-out, opacity 0.5s ease-in-out;
  cursor: pointer;
}
.filter-list li {
  list-style: none;
  height: 15%;
  width: 100%;
  padding: 5px 0;
}
.body-child2 {
  height: calc(100% - 50px);
  height: max-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  /* grid-template-columns: repeat(4, 1fr); */
  justify-content: space-between;
  row-gap: 2.5rem;
  padding-bottom: 50px;
}
.country-card {
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
  font-family: var(--nunito);
  cursor: pointer;
}
.country-card img {
  height: 50%;
  width: 100%;
  object-fit: contain;
}
.country-card .details {
  display: flex;
  flex-direction: column;
  height: 40%;
  padding: 15px;
}
.country-card .details h3 {
  font-size: 20px;
}
.details-child {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55%;
  font-size: 13px;
}
.details div label {
  font-weight: 600;
}

.cd-details {
  width: auto;
  height: max-content;
  padding: 0 50px;
}

.cd-child:first-child {
  width: 100%;
  height: max-content;
  padding: 50px 0;
}

.cd-child:first-child button {
  width: 150px;
  height: 50px;
  font-size: 22px;
  outline: none;
  border: none;
  border-radius: 5px;
  /* box-shadow: 0px 0px 15px 1px #f7f7f7, 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid #ebebeb; */
}
.cd-child:last-child {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(90% - 50px);
}
.div-flag {
  width: 50%;
  object-fit: cover;
  height: 60%;
}
.div-flag img {
  width: 100%;
  height: 100%;
}
.info {
  width: 50%;
  height: 60%;
  margin-left: 75px;
  position: relative;
}

.info-child:first-child h1 {
  width: 100%;
  height: auto;
  font-size: 40px;
  font-weight: 700;
  margin-top: 50px;
}
.info-child:first-child {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: 80%;
}
.info-gchild div label {
  font-weight: 900;
}
.info-gchild div {
  margin: 15px 0;
}
.info-gchild {
  width: 50%;
  font-size: 18px;
}
.info-child:nth-child(2) {
  display: flex;
  align-items: center;
  width: max-content;
  height: 20%;
  font-size: 18px;
}
.info-child:nth-child(2) label {
  font-weight: 900;
  padding-right: 15px;
}
.info-child:nth-child(2) span {
  padding: 5px 15px;
  margin: 0 10px;
  height: max-content;
  border-radius: 5px;
}
.info-child:nth-child(2) div {
  height: max-content;
  width: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}
.g-location {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .cd-child:last-child {
    height: max-content;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .div-flag {
    width: 75%;
  }
  .info {
    width: 75%;
    margin: 0;
    margin-bottom: 50px;
  }
  .info-child:nth-child(2) {
    height: max-content;
    margin-top: 25px;
  }
}
@media screen and (max-width: 1000px) {
  .body-child label:first-child {
    width: 25rem;
  }
}
@media screen and (max-width: 800px) {
  .body-child2 {
    justify-content: center;
  }
  .div-flag {
    width: calc(100% - 75px);
  }
  .info {
    width: calc(100% - 75px);
  }
}
@media screen and (max-width: 850px) {
  .body-child label:first-child {
    width: 22rem;
  }
}
@media screen and (max-width: 750px) {
  .body-child {
    flex-direction: column;
    height: 150px;
  }
  .body-child label:first-child {
    width: 22rem;
    height: 35%;
  }
  .body-child {
    align-items: start;
    padding: 45px 0;
  }
  .filter-list {
    right: auto;
    top: 200px;
  }
  .info-gchild {
    width: 100%;
    margin-top: 25px;
  }
  .info-child:nth-child(2) label {
    width: auto;
    height: 50px;
  }
  .info-child:nth-child(2) div {
    grid-template-columns: repeat(4, 1fr);
  }
  .info-child:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .info-child:nth-child(2) span {
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  .header label:first-child {
    margin-left: 25px;
    font-size: 22px;
  }
  .header label:last-child {
    margin-right: 25px;
    font-size: 17px;
  }
  .header label {
    margin: 0;
  }
  .body-child label:first-child {
    width: 100%;
  }
  .cd-child:first-child button {
    width: 130px;
    height: 45px;
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .header label:first-child {
    font-size: 20px;
  }
  .header label:last-child {
    font-size: 15px;
  }
  .body-child2 {
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
  }
  .country-card {
    height: 300px;
  }
  .div-flag {
    width: 100%;
  }
  .info {
    width: 100%;
  }
  .cd-child:first-child button {
    width: 120px;
    height: 40px;
    font-size: 18px;
  }
  .info-child:nth-child(2) div {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 400px) {
  .body-child2 {
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
  }
  .country-card {
    height: 250px;
  }
}
@media screen and (max-width: 350px) {
  .header label:first-child {
    font-size: 18px;
  }
  .header label:last-child {
    font-size: 13px;
  }
  .cd-child:first-child button {
    width: 110px;
    height: 35px;
    font-size: 16px;
  }
  .info-child:nth-child(2) div {
    grid-template-columns: repeat(2, 1fr);
  }
}
